#ChatGPT: Your Python Coach
## Chapter 3: The Operations Room


**Explain the details of arithmetic operators in Python in a colourful tone and include a single code example to illustrate the use of all the operators. The example should compare entertaining statistics about Marvel vs X-men movies and box office.**

Let's have some fun with these operators. Here's an example that compares some statistics about the Marvel vs X-Men movies and box office:

In [ ]:
# Marvel and X-Men movie statistics
marvel_movies = 28
xmen_movies = 13
marvel_box_office = 22.55e9  # in US dollars
xmen_box_office = 6.01e9     # in US dollars
single_ticket = 15           # in US dollars


# Addition
total_movies = marvel_movies + xmen_movies
print("Total number of movies from both franchises:", total_movies)

# Subtraction
difference_movies = marvel_movies - xmen_movies
print("Marvel has", difference_movies, "more movies than X-Men")

# Multiplication
money_needed = single_ticket * total_movies
print("Total cost of watching all movies in the theatre: US$", money_needed)

# Division
total_box_office = marvel_box_office + xmen_box_office
average_box_office = total_box_office / total_movies
print(f"Average box office revenue per movie: US$ {average_box_office:,.2f}")

# Integer Division
years_needed = total_movies // 12   # assuming watching 1 movie per month

# Modulo
plus_months_needed = total_movies % 12   # assuming watching 1 movie per month

print(f"Time required to watch all movies (one per month): {years_needed} years plus {plus_months_needed} months.")

Total number of movies from both franchises: 41
Marvel has 15 more movies than X-Men
Total cost of watching all movies in the theater: US$ 615
Average box office revenue per movie: US$ 696,585,365.85
Time required to watch all movies (one per month): 3 years plus 5 months.

**Explain the details of comparison operators in Python in a colourful tone and include a single code example to illustrate the use of all of them, maybe using fun facts about football teams.**

Let's illustrate the use of all these operators with a fun example about football teams! Imagine we have two teams, Real Madrid and Barcelona, and we want to compare some of their statistics.

In [ ]:
# Real Madrid statistics
real_points = 70
real_goals_scored = 76
real_goals_conceded = 39
real_goal_difference = real_goals_scored - real_goals_conceded

# Barcelona statistics
barca_points = 65
barca_goals_scored = 85
barca_goals_conceded = 38
barca_goal_difference = barca_goals_scored - barca_goals_conceded

# Comparison operators
print(f"Real Madrid ({real_points}) and Barcelona ({barca_points}) have equal points:",
      real_points == barca_points)
print(f"Real Madrid ({real_goals_scored}) and Barcelona ({barca_goals_scored}) have different goals scored:",
      real_goals_scored != barca_goals_scored)
print(f"Real Madrid ({real_goals_conceded}) has conceded fewer goals than Barcelona ({barca_goals_conceded}):",
      real_goals_conceded < barca_goals_conceded)
print(f"Real Madrid's goal difference ({real_goal_difference}) is less than or equal to Barcelona's goal difference ({barca_goal_difference}):",
      real_goal_difference <= barca_goal_difference)
print(f"Real Madrid ({real_points}) has more points than Barcelona ({barca_points}):",
      real_points > barca_points)
print(f"Barcelona ({barca_goals_conceded}) has conceded more goals than Real Madrid ({real_goals_conceded}):",
      barca_goals_conceded >= real_goals_conceded)

Real Madrid (70) and Barcelona (65) have equal points: False
Real Madrid (76) and Barcelona (85) have different goals scored: True
Real Madrid (39) has conceded fewer goals than Barcelona (38): False
Real Madrid's goal difference (37) is less than or equal to Barcelona's goal difference (47): True
Real Madrid (70) has more points than Barcelona (65): True
Barcelona (38) has conceded more goals than Real Madrid (39): False

**Explain the concept of logical operators in Python in a casual tone. After defining each operator, include a single code example to illustrate the usage of all of them. Use a table of fast food dishes indicating how suitable are for vegetarians and vegans, for this purpose.**

We can use logical operators to answer questions like "Which dishes are suitable for both vegetarians and vegans?" or "Which dishes are not suitable for either vegetarians or vegans?". Here's an example code to demonstrate the usage of logical operators:

In [2]:
# Define the boolean values
# (cb: Cheeseburger, mp: Margherita Pizza, gs: Garden Salad, ic: Ice Cream)
cb_veg = False
cb_vegan = False
mp_veg = True
mp_vegan = False
gs_veg = True
gs_vegan = True
ic_veg = True
ic_vegan = False

# Print the results of logical operators
print("Is Cheeseburger both vegetarian and vegan? ", cb_veg and cb_vegan)
print("Is Margherita Pizza both vegetarian and vegan? ", mp_veg and mp_vegan)
print("Is Garden Salad both vegetarian and vegan? ", gs_veg and gs_vegan)
print("Is Ice Cream both vegetarian and vegan? ", ic_veg and ic_vegan)
print("Is Cheeseburger either vegetarian or vegan? ", cb_veg or cb_vegan)
print("Is Margherita Pizza either vegetarian or vegan? ", mp_veg or mp_vegan)
print("Is Garden Salad either vegetarian or vegan? ", gs_veg or gs_vegan)
print("Is Ice Cream either vegetarian or vegan? ", ic_veg or ic_vegan)
print("Is Cheeseburger not vegetarian? ", not cb_veg)
print("Is Cheeseburger not vegan? ", not cb_vegan)

Is Cheeseburger both vegetarian and vegan?  False
Is Margherita Pizza both vegetarian and vegan?  False
Is Garden Salad both vegetarian and vegan?  True
Is Ice Cream both vegetarian and vegan?  False
Is Cheeseburger either vegetarian or vegan?  False
Is Margherita Pizza either vegetarian or vegan?  True
Is Garden Salad either vegetarian or vegan?  True
Is Ice Cream either vegetarian or vegan?  True
Is Cheeseburger not vegetarian?  True
Is Cheeseburger not vegan?  True

**Explain the concept of bitwise operators in Python in a friendly but professional tone. After defining each operator, include a code examples to illustrate the usage of all of them.**

bitwise AND:

In [ ]:
a = 12  # 1100 in binary
b = 25  # 11001 in binary
c = a & b  # 1000 in binary
print(f"   {a:08b} (decimal: {a})\n & {b:08b} (decimal: {b})\n   --------\n   {c:08b} (decimal: {c})")

   00001100 (decimal: 12)
 & 00011001 (decimal: 25)
   --------
   00001000 (decimal: 8)

bitwise OR:

In [ ]:
a = 12  # 1100 in binary
b = 25  # 11001 in binary
c = a | b  # 11001 in binary
print(f"   {a:08b} (decimal: {a})\n | {b:08b} (decimal: {b})\n   --------\n   {c:08b} (decimal: {c})")

   00001100 (decimal: 12)
 | 00011001 (decimal: 25)
   --------
   00011101 (decimal: 29)

bitwise XOR:

In [ ]:
a = 12  # 1100 in binary
b = 25  # 11001 in binary
c = a ^ b  # 10001 in binary
print(f"   {a:08b} (decimal: {a})\n ^ {b:08b} (decimal: {b})\n   --------\n   {c:08b} (decimal: {c})")

   00001100 (decimal: 12)
 ^ 00011001 (decimal: 25)
   --------
   00010101 (decimal: 21)

bitwise NOT:

In [ ]:
a = 12  # 1100 in binary
c = ~a  # -13 in decimal (complement of 1100 in binary)
print(f" ~ {a:08b} (decimal: {a})\n   --------\n   {c:08b} (decimal: {c})")

 ~ 00001100 (decimal: 12)
   --------
   -0001101 (decimal: -13)

bitwise LEFT SHIFT:

In [ ]:
a = 12  # 1100 in binary
c = a << 3  # 110000 in binary, which is 96 in decimal
print(f"   {a:08b} (decimal: {a})\n<< 3 \n   --------\n   {c:08b} (decimal: {c})")

   00001100 (decimal: 12)
<< 3
   --------
   01100000 (decimal: 96)

bitwise RIGHT SHIFT:

In [ ]:
a = 12  # 1100 in binary
c = a >> 3  # 11 in binary, which is 1 in decimal
print(f"   {a:08b} (decimal: {a})\n>> 3 \n   --------\n   {c:08b} (decimal: {c})")

   00001100 (decimal: 12)
>> 3
   --------
   00000001 (decimal: 1)

**Explain the concept of arithmetic assignment operators in Python in a playful manner.**

Suppose you have a piggy bank full of coins. Assume this piggy bank is a modern magic device that allows you to earn 10\% interest on the money you save each month:

In [ ]:
piggy_bank = 10
print("Money now in the piggy_bank:\t$ ", piggy_bank)
piggy_bank *= 1.1
print("Money one month later:\t\t$ ", piggy_bank)

Money now in the piggy_bank:	$  10
Money one month later:		$  11.0

Here are some other examples of arithmetic assignment operators in Python:

In [ ]:
x = 10
x += 5  # equivalent to x = x + 5
print(x)  # Output: 15

y = 20
y -= 3  # equivalent to y = y - 3
print(y)  # Output: 17

z = 7
z *= 2  # equivalent to z = z * 2
print(z)  # Output: 14

a = 16
a /= 4  # equivalent to a = a / 4
print(a)  # Output: 4.0

b = 5
b %= 2  # equivalent to b = b % 2
print(b)  # Output: 1

15
17
14
4.0
1

**Explain the concept of identity operators in Python in a playful manner.**

Let's see an example. In this code, we define  variables with the names of characters from the Cars movie. We then use the identity operators to compare them:

In [ ]:
# Define the cars
mcqueen = "Lightning McQueen"
doc = "Doc Hudson"
mater = "Tow Mater"

# Use identity operators to compare the cars
print(f"{mcqueen} is {doc}: ", mcqueen is doc)
print(f"{mcqueen} is not {mater}: ", mcqueen is not mater)

# Assign one variable to the other
mcqueen = doc
print(f"After assigning, {mcqueen} is {doc}: ", mcqueen is doc)

# Check if a car is None
sally = None
print(f"{sally} is None: ", sally is None)

sally = "Sally Carrera"
print(f"After assigning, {sally} is None: ", sally is None)

Lightning McQueen is Doc Hudson:  False
Lightning McQueen is not Tow Mater:  True
After assigning, Doc Hudson is Doc Hudson:  True
None is None:  True
After assigning, Sally Carrera is None:  False

**Explain the concept of memberships operators in Python in a playful manner.**

In this example, the code checks if the letter "A" is the first letter of any of the names (assuming the first letter of a name is uppercase):

In [ ]:
name = "Alice"
another_name = "Bob"
letter = 'A'
print(f"{name} starts with {letter}: ", letter in name)
print(f"{another_name} starts with {letter}: ", letter in another_name)

Alice starts with A:  True
Bob starts with A:  False

The second membership operator is "not in", which checks whether a given value is not present in a larger string or not. The value can be a letter or a sequence of letters. For example:

In [ ]:
sentence1 = "Java is fun!"
sentence2 = "Java is fun, but Python is really fantastic!"
language = "Python"

print(f"'{language}' is not in '{sentence1}': ", language not in sentence1)
print(f"'{language}' is not in '{sentence2}': ", language not in sentence2)

'Python' is not in 'Java is fun!':  True
'Python' is not in 'Java is fun, but Python is really fantastic!':  False

**Explain the concept of exponentiation operator in Python in a playful manner.**

Here's an example of using the exponentiation operator:

In [ ]:
# Calculating the area of a square with side length 5
area = 5 ** 2
print(area) # Output: 25

25

**How can I program more complex math operations such as square roots, logarithms, and so on?**

Python provides a built-in module called \code{math} that offers many functions for performing complex mathematical operations. Here are a few examples:

In [ ]:
# Import the built-in math module for various mathematical operations
import math

# Calculate the square root of a number
num = 25
sqrt_num = math.sqrt(num)  # Use the sqrt() function to calculate the square root
print(f"The square root of {num} is {sqrt_num}")

# Calculate the logarithm of a number with base 10
num2 = 1000
log_num2 = math.log10(num2)  # Use the log10() function to calculate the base 10 logarithm
print(f"The base 10 logarithm of {num2} is {log_num2}")

# Get the value of pi, a mathematical constant
pi = math.pi
print(f"The value of pi is {pi}")

# Convert degrees to radians
deg = 45
rad = math.radians(deg)  # Use the radians() function to convert degrees to radians
print(f"{deg} degrees is equal to {rad} radians")

# Calculate the sine of an angle in radians
angle = math.pi / 4
sin_angle = math.sin(angle)  # Use the sin() function to calculate the sine of the angle
print(f"The sine of {angle} radians is {sin_angle}")

The square root of 25 is 5.0
The base 10 logarithm of 1000 is 3.0
The value of pi is 3.141592653589793
45 degrees is equal to 0.7853981633974483 radians
The sine of 0.7853981633974483 radians is 0.7071067811865475

*** END OF CHAPTER ***