#ChatGPT: Your Python Coach
## Chapter 1: Know your basics


**Write the classic "Hello, World!" program in Python and explain it. Provide the output as well. I will be using Colab.**

In [ ]:
print("Hello, World!")

Hello, World!

**Explain what a syntax error is and demonstrate 3 possible syntax errors in the 'Hello, World!' program with their respective outputs.**

In [ ]:
print("Hello, World!"

SyntaxError: ignored

In [ ]:
prnt("Hello, World!")

NameError: ignored

In [ ]:
print(Hello, World!)

SyntaxError: ignored

**Explain in a simple way what a string is, the syntax rules for defining strings in Python.**

In [ ]:
my_string = "Hello, World!"
print(my_string)

Hello, World!

In [ ]:
string1 = "This is a string using double quotes"
string2 = 'This is a string using single quotes'
string3 = "This string contains numbers and symbols: $5.99"
print(string1, string2, string3, sep='\n')

This is a string using double quotes
This is a string using single quotes
This string contains numbers and symbols: $5.99

In [ ]:
multi_line_string = """This is a
multi-line
string"""
print(multi_line_string)

This is a
multi-line
string

In [ ]:
escaped_string = "This string contains a new line.\nHere's the next line.\n\tAnd here's another line indented with a tab to the right."
print(escaped_string)

This string contains a new line.
Here's the next line.
	And here's another line indented with a tab to the right.

**Explain string formatting in simple terms. Write fun code examples for each of the formatting options.**

In [ ]:
# f-strings
name = "Alice"
age = 30
print(f"{name} is {age} years old and loves Python!")  # Alice is 30 years old and loves Python!

# str.format()
food = "pizza"
price = 10.99
print("I love {0}, it costs ${1:.2f} per slice.".format(food, price))  # I love pizza, it costs $10.99 per slice.

# % operator
city = "Paris"
country = "France"
print("I'd love to visit %s in %s someday." % (city, country))  # I'd love to visit Paris in France someday.

# concatenation
print('Hello, ' + 'World' + '!')

Alice is 30 years old and loves Python!
I love pizza, it costs $10.99 per slice.
I'd love to visit Paris in France someday.
Hello, World!

**Ok. Now provide an example of a program using only print() commands with a real-world analogy.**

In [ ]:
# Example program: "Cooking Pancakes"
# This program demonstrates the steps for cooking pancakes

print("-"*20 + " Cooking Pancakes " + "-"*20)
print("Step 1: Mix the pancake batter.")
print("Step 2: Heat the griddle or frying pan on medium heat.")
print("Step 3: Pour batter onto the griddle or frying pan, using a 1/4 cup measuring cup.")
print("Step 4: Cook for 1-2 minutes, until the edges start to dry and the surface is bubbly.")
print("Step 5: Flip the pancake with a spatula, and cook for an additional 1-2 minutes on the other side.")
print("Step 6: Remove the pancake from the griddle or frying pan and place on a plate.")
print("Step 7: Repeat steps 3-6 for the remaining batter.")
print("Step 8: Serve with your favorite toppings, such as butter and syrup.")

-------------------- Cooking Pancakes --------------------
Step 1: Mix the pancake batter.
Step 2: Heat the griddle or frying pan on medium heat.
Step 3: Pour batter onto the griddle or frying pan, using a 1/4 cup measuring cup.
Step 4: Cook for 1-2 minutes, until the edges start to dry and the surface is bubbly.
Step 5: Flip the pancake with a spatula, and cook for an additional 1-2 minutes on the other side.
Step 6: Remove the pancake from the griddle or frying pan and place on a plate.
Step 7: Repeat steps 3-6 for the remaining batter.
Step 8: Serve with your favorite toppings, such as butter and syrup.

**Can I use formatting options such as width and alignment to build strings? Show me engaging examples.**

Centered Text: You can center a string by using the `{:^width}` pattern to indicate center alignment and specifying the width. Notice how the expression `'-'*8` is used to repeatedly print the character "`-`".

In [ ]:
text = "Hello, World!"
centered_text = f"|{text:^40}|"
print('-'*8, centered_text, '-'*8)

-------- |             Hello, World!              | --------

Left-aligned Text: You can left-align a string by using the `{:<width}` pattern to indicate left alignment and specifying the width.

In [ ]:
name = "John"
age = 30
job = "Engineer"
output = f"|Name: {name:<10}|Age: {age:<5}|Job: {job:<10}|"
print(output)

|Name: John      |Age: 30   |Job: Engineer  |

Right-aligned Text: You can right-align a string by using the `{:>width}` pattern to indicate right alignment and specifying the width.

In [ ]:
name = "Sarah"
age = 28
job = "Designer"
output = f"|Name: {name:>10}|Age: {age:>5}|Job: {job:>10}|"
print(output)

|Name:      Sarah|Age:    28|Job:   Designer|

Truncated Text: You can truncate a string by specifying the maximum width, using the pattern `{:.width}` within the placeholder.

In [ ]:
text = "This is a very long string that needs to be truncated"
truncated_text = f"{text:.20}"
print(truncated_text+"...")

This is a very long ...

Zero-padded Numbers: You can zero-pad a number by using the pattern `{:0width}` character to indicate zero-padding and specifying the width.

In [ ]:
number = 42
padded_number = f"{number:05}"
print(padded_number)

00042

Padding and decimal places: To format a floating-point number with a specific number of decimal places and padding, using the pattern `{:width.precisionf}`.

In [ ]:
num = 3.14159
formatted_num = "{:08.2f}".format(num)
print("The formatted number is:", formatted_num)

The formatted number is: 00003.14

**I'd like to put what I've just learned about print() and string formatting into practice. Please provide four code exercises where I need to fix the errors to make them run correctly.**

Exercise 1:

In [ ]:
print(Hello, World!)

SyntaxError: ignored

Exercise 2:

In [ ]:
message = "I have {} apples"
print(message+format(5))

I have {} apples5

Exercise 3:

In [ ]:
name = input("What is your name? ")
age = input("How old are you? ")
print("Your name is {} and you are {} years old."format(name, age))

SyntaxError: ignored

Exercise 4:

In [ ]:
number = 42
print("The answer is {.10}".format(number))

AttributeError: ignored

**Below is the code I wrote to solve the exercise: Create a program that prints a right triangle using the character.**

In [ ]:
print('* ')
print('* ' * 2)
print('* ' * 3)
print('* ' * 4)
print('* ' * 5)

*
* *
* * *
* * * *
* * * * *

*** END OF CHAPTER ***